name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r starter/requirements.txt
          pip install flake8 pytest

      - name: Run flake8
        run: flake8 starter

      - name: Run tests
        run: |
          cd starter
          PYTHONPATH=$(pwd) pytest tests/